

body{

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


.coutener{
    background-color: lightpink;
    width: 400px;
    margin: auto;
    border-radius: 5px;
    padding: 100px 10px;
    margin-top: 100px;
    
}
.login{
    width: 340px;
    margin: auto;
    background-color: aliceblue;
    border: 5px;
    padding: 10px;
    border-radius: 5px; 
}
table tr td{
    padding: 15px;

}
table tr td input{
    size: 200px;
    border: black 1px solid;
    border-radius: 4px;
    padding: 2px;
}